{% extends "shop/base.html" %}
{% load static %}
{% block title %}
  {{ product.name }}
{% endblock %}
{% block content %}
  <div class="product-detail">
{#    <img src="{% if product.image %}{{ product.image.url }}{% else %}#}
{#    {% static "img/no_image.png" %}{% endif %}">#}
    <h1>{{ product.name }}</h1>
      {% for sub in subproduct %}
          {% if sub.product == product %}
              <div class="subcontainer">
                  <img src="{% if sub.image %}{{ sub.image.url }}{% else %}
                    {% static "img/no_image.png" %}{% endif %}" >
                  <div class="subdetail">
                        <h2 {{sub.get_absolute_url}}>
                            {{ sub.name }}
                        </h2>
                      <span style="font-size: 110%">{{ sub.description }}</span>
                        <span style="font-size: 120%; float: right;">${{ sub.price }}</span>
                        <form action="{% url "cart:cart_add" sub.id %}" method="post" style="margin-top: 5%">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <input type="submit" value="Add to cart" >
                        </form>

                  </div>

              </div>
          {% endif %}
        {% endfor %}
  </div>
{% endblock %}
